{% extends "base.html.j2" %}

{% block body %}
  <header class="jumbotron jumbotron-fluid text-center text-white mb-0" id="mainHeader">
    <div class="container">
      <h1 class="display-4">Bienvenue sur votre carnet de note</h1>
      <p class="lead">Tel Pascal on y écrit pensées...</p>
    </div>
  </header>
  {% include 'nav.html.j2' %}
  <main class="container">
    {% block main %}
    {% endblock %}
  </main>
{% endblock %}
