{% extends "base.html.j2" %}
{% block body %}
  <main class="w100 bg-dark text-white pt-5" style="height: 100vh;">
    <h1 class="text-center text-muted">Accéder à votre carnet de note</h1>
    <div class="d-flex justify-content-center mt-5">
      <form method="post" action="" class="w-25">
        {% if get_flashed_messages() %}
          {% for message in get_flashed_messages() %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.pseudo.label }}
          {{ form.pseudo(class_="form-control") }}
        </div>
        <div class="form-group">
          {{ form.password.label }}
          {{ form.password(class_="form-control") }}
        </div>
        <div class="text-center">
          {{ form.submit(class_="btn btn-success") }}
        </div>
      </form>
    </div>
  </main>
{% endblock %}
